//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1400;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

@import './null.scss';
@import './home.scss';


body {
   background: rgba(255, 255, 255, 0.90);

   &.lock {
      overflow: hidden;
   }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

:focus::-webkit-input-placeholder {
   color: transparent;
}

:focus::-moz-placeholder {
   color: transparent;
}

:focus:-moz-placeholder {
   color: transparent;
}

:focus:-ms-input-placeholder {
   color: transparent;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: 1400px;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1+px) {
      max-width: 970px;
   }

   @media (max-width: $md2+px) {
      max-width: 750px;
   }

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}

//</ОСНОВНАЯ СЕТКА>==============================================================================================
//<HEADER>=========================================================================================================================

//</HEADER>=========================================================================================================================

//<MAINBLOCK>====================================================================================================

//</MAINBLOCK>====================================================================================================

//<FOOTER>=========================================================================================================================

//</FOOTER>=========================================================================================================================

@media (max-width: $md1+px) {}

@media (max-width: 1024px) {}

@media (max-width: $md2+px) {}

@media (max-width: $md3+px) {}

@media (max-width: 600px) {}

@media (max-width: $md4+px) {}